@import '@angular/material/theming';

@include mat-core();

$plan-angular-primary: mat-palette($mat-gray);
$plan-angular-accent: mat-palette($mat-lime);
$plan-angular-warn: mat-palette($mat-red);

$plan-angular-theme: mat-light-theme((
  color: (
    primary: $plan-angular-primary,
    accent: $plan-angular-accent,
    warn: $plan-angular-warn,
  )
));

@include angular-material-theme($plan-angular-theme);

html, body { height: 100vh; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.none{
  margin: 0;
  padding: 0;
}
