@use '@angular/material' as mat;
@include mat.core();

$plan-angular-primary:  mat.define-palette(mat.$gray-palette, 200);
$plan-angular-accent: mat.define-palette(mat.$light-green-palette, 500);
$plan-angular-warn: mat.define-palette(mat.$red-palette);

$plan-angular-theme: mat.define-light-theme((
  color: (
    primary: $plan-angular-primary,
    accent: $plan-angular-accent,
    warn: $plan-angular-warn,
  )
));

@include mat.all-component-themes($plan-angular-theme);

html, body { height: 100vh; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.none{
  margin: 0;
  padding: 0;
}
